/* BOB und andere Gimmicks */

.bob
  a
  	background: linear-gradient(237deg, #ae9447, #d4af37)
  	background-size: 400% 400%
  	animation: schillern 3s ease infinite
    padding:$abstand-klein
    position:relative

  &:before, &:after
    content:''
    display:block
    position:absolute
    left:0px
    top:50%
    border-radius:50%

  &:after
    left:auto
    right:0px


// Alte Formen
.btn-white a
    border: 2px solid white
    border-radius: 15px
    color: white
    display: block
    font-size: 15px
    height: 30px
    line-height: 30px
    margin: 0 auto
    text-align: center
    width: 150px
.btn-white a:hover
	color:white
	background: orange

.kontakt-button2 a
  display: table
  margin:10px auto
  padding:10px
  border: 1px solid black
  text-decoration:none
  text-align:center
  transition: all 0.6s ease-in-out 0s
  color:black

.kontakt-button2 a:hover
  color:white
  background-color:orange
  box-shadow: 0 4px 2px  gray

.link-ecke a::after 
    content: " ▶"

.link-ecke    
	a 
	    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0
	    bottom: 0
	    color: white
	    display: block
	    padding: 3px 10px
	    position: absolute
	    right: 0

	&:hover
		background:black
