//Farben
$pink:#e91e63
$purple:#9c27b0
$indigo:#303f9f
$lila-blau: linear-gradient(90deg, #5f2c82 10%, #49a09d 90%)
$grün-gelb: linear-gradient(0deg, #3ca55c 10%, #b5ac49 90%)
$orange-pink:linear-gradient(90deg, #ff512f 10%, #dd2476 90%)

$hell: #ccc
$dunkel: #006180


$grün: #a7c520
$gold: #ae9447
$menuhover:#2d7c95 

$abstand-klein: 10px
$abstand-mittel: 30px
$abstand-gross: 120px
$breite:60vw

$mittel: #4C5562
$gold:#ae9447
$menuhover: #49a09d
$titelfarbe : orange
$grundschrift: 'roboto' 
$schrift-size: 1.1rem
$schrift-scale: 1vw
$ueberschrift: 'oswald'


.dunkel-verlauf
	background: linear-gradient(to right, #006180 10%,#49a09d 90%)
	color:white
	h2
		color:white
.gold
	background: linear-gradient(to bottom, #d4af37 0%,#ae9447 100%)

/* Farbkombinationen */
.dunkel
	background:$dunkel
	color:white
	h2
		color:white
.mittel
	background:&grün-gelb
	color:white

	h2
		color:white

.hell
	background:$hell
	color:$dunkel

.hervorgehoben
	background: #AE9564
	color:white

.dunkel-text
	color:$dunkel
p 
	font-size: $schrift-size

/* Mediaquerys */
$handy:450px
$ipad:780px